body{
    background-color: white;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 100px);
}

img{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
}

img:hover{
    scale: 1.25;
}

#flower-circle{
    background-image: url(images/flower-circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    width: 50px;
    margin: 10px;
    align-self: center;

    transform: scale(1);
    transition: 2s;
}
#flower-circle:hover{
    background-image: url(images/flower-circle-color.png);
    transform: scale(1.25);
    transition: 2s;
}
#animated-flower-circle{
    background-image: url(images/flower-circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    width: 50px;
    margin: 10px;
    align-self: center;
}
#animated-flower-circle:hover{
    background-image: url(circle-flower/circle-flower-color.gif);
    scale: 1.25;
}

#flower-square{
    background-image: url(images/flower-square.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    width: 50px;
    margin: 10px;
    align-self: center;
}
#flower-square:hover{
    background-image: url(images/flower-square-color.png);
    scale: 1.11;
}
#animated-flower-square{
    background-image: url(images/flower-square.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    width: 50px;
    margin: 10px;
    align-self: center;
}
#animated-flower-square:hover{
    background-image: url(square-flower/square-flower-color.gif);
    scale: 1.25;
}

#flower-triangle{
    background-image: url(images/flower-triangle.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    width: 50px;
    margin: 10px;
    align-self: center;
}
#flower-triangle:hover{
    background-image: url(images/flower-triangle-color.png);
    scale: 1.25;
}
#animated-flower-triangle{
    background-image: url(images/flower-triangle.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    width: 50px;
    margin: 10px;
    align-self: center;
}
#animated-flower-triangle:hover{
    background-image: url(triangle-flower/triangle-flower-color.gif);
    scale: 1.25;
}